<div>
<h3><%= @job.name %></h3><br>
Job pay : <%= @job.pay_offer %><br>
by
Job Owner : <%= @job.user.fullname %> <br>
Job Status : <% if @job.status == 0 %>
	Open for bidding
<% elsif @job.status == 1 %>
	Bidding closed	
<% end %>
</div>
<div class="col-sm-3">
	<% if current_user.id != @job.user.id %>
		<% if @job.bids.where(user_id: current_user.id).count == 0 %>
			<%= link_to 'New Bid', new_job_bid_path(@job), class: "btn btn-default" %>
		<% elsif @job.bids.where(user_id: current_user.id).count != 0  %>
			<% @job.bids.each do |bid| %>
				<% if bid.user_id == current_user.id %>
					<%= link_to 'Edit Bid', edit_bid_path(bid), class: "btn btn-default" %>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "Edit", edit_job_path, class: "btn btn-default" %>
		<%= link_to job_path, method: :delete, class: "btn btn-default" do %>
	    <i class="glyphicon glyphicon-remove"></i>
		<% end %>
	<% end %>
	<%= link_to "Back", jobs_path, class: "btn btn-default" %>
<br><br>
	<div>
		<% if @job.bids.count != 0 %>
		<% byebug %>
			<% if @job.bids.where(status: 1) %>
				<% @job.bids.where(status: 0).destroy_all %>
				<% @job.status = 1 %>
				<h3>Winning Bid </h3>
				<% @job.bids.each do |bid| %>
					<%= bid.user.fullname %>
					<%= bid.bid_value %>
				<% end %>
			<% else %>
				<label>Current Bids</label><br>
				<% @job.bids.each do |bid|  %>
					<div>
						<%= bid.user.fullname %>
						<%= bid.bid_value %>
						<% if @job.user_id == current_user.id %>
							<%= form_for bid do |f| %>
								<%= f.hidden_field :status, value: 1 %>
								<%= f.submit "Accept bid" %>
							<% end %>
						<% end %>
					</div>
				<% end %>			
			<% end %>
		<% else %>
		 No Bids Yet
		<% end %>
	</div>
</div>

<!--
<script>
$.ajax({
	  method: "POST",
	  url: "some.php",
	  data: { name: "John", location: "Boston" }
	})
	  .done(function( msg ) {
	    alert( "Data Saved: " + msg );
	  });
</script>
-->