<div class="project-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="project-title"><%= @job.name %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<%= link_to image_tag(@job.image_url, alt: @job.name, width: '100%'), job_path(@job) %>
			</div>
			<div class="col-md-4">
				<div class="project-mgmt">
					<%= link_to 'Edit', edit_job_path(@job) %>
					<%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"} %>
				</div>
				<%= render 'stats', job: @job, days_to_go: @days_to_go %>
				<%= link_to 'See project backers', "#", class: "btn btn-success btn-lg" %>
				<%= link_to 'Back this project', "#", class: "btn btn-success btn-lg" %>
				<p class="project-time">This job will expire in 3 days.</p>
			</div>
		</div>

		<!-- small description -->
		<div clas="row">
			<div class="col-md-8">
				<p class="project-small-description"><%= @job.short_description %></p>
			</div>
		</div>
	</div>
</div>

<!-- rewards -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="project-subtitle">About this project</h3>
			<p><%= @job.description %></p>
		</div>
		<div class="col-md-4">
			<p>Rewards will be rendered in here ...</p>
			<%= link_to 'Add Reward', "#", class: "btn btn-primary" %>
		</div>
	</div>
</div>


<div>
Job Pay : <%= @job.pay_offer %><br>
Job Owner : <%= @job.user.fullname %> <br>
Job Status :
	<% if @job.job_status == 0 %>
		Open for bidding
	<% elsif @job.job_status == 1 %>
		Bidding closed	
	<% end %>
</div>
<!-- This part on top works! It works to show the status of the job -->


		<% if @job.bids.count != 0 %>
			<% @job.bids.each do |bid|  %>
				<% if bid.bid_status == 1 %>
					<% bid.job.bids.where(bid_status: 0).destroy_all %>
					<% @job.job_status = 1 %>
					<% @job.save %>
					<% @winner = true %>
				<!-- Job save works! We now update the status of the job when a bid is accepted -->


				<% end %>
			<% end %>
		<% end %>


<div class="col-sm-3">
	<% if current_user.id != @job.user.id %>
		<% if @job.bids.where(user_id: current_user.id).count == 0 %>
			<% if @winner == true %>
			<% else %>
				<%= link_to 'New Bid', new_job_bid_path(@job), class: "btn btn-default" %>
			<% end %>



	<!-- To prevent new bids to be lodged when there is a winner -->

		<% elsif @job.bids.where(user_id: current_user.id).count != 0  %>
			<% @job.bids.each do |bid| %>
				<% if bid.user_id == current_user.id && bid.bid_status == 0 %>
					<%= link_to 'Edit Your Bid', edit_bid_path(bid), class: "btn btn-default" %>
				<% elsif bid.user_id == current_user.id && bid.bid_status == 1 %>
					<button class="btn btn-default">Talk to your customer</button>
				<% end %>
			<% end %>
		<% end %>
	<% elsif @winner == true %>
			<button class="btn btn-default">Talk to your developer</button>
	<% else %>
		<%= link_to "Edit", edit_job_path, class: "btn btn-default" %>
		<%= link_to job_path, method: :delete, class: "btn btn-default" do %>
	    <i class="glyphicon glyphicon-remove"></i>
		<% end %>
	<% end %>
	<%= link_to "Back", jobs_path, class: "btn btn-default" %>
	<br><br>
<!-- The part on top helps us create a button to bid if we haven't, edit the bid if we have. And edit the job if we own the job instead-->



	<div>
		<% if @job.bids.count != 0 %>
			<% if @winner == true %>
				<label>Winning Bid</label><br>
			<% else %>
				<label>Current Bid</label><br>
			<% end %>
			<% @job.bids.each do |bid|  %>
				<div>
				<% if bid.user.id == current_user.id %>
					Your Bid
				<% else %>
					<%= bid.user.fullname %>
				<% end %>
				<%= bid.bid_value %>

<!-- We show the bid details for current bids, if there's any. If there are no bids, this will not show -->


					<% if @job.user_id == current_user.id %>
						<%= form_for bid do |f| %>
							<%= f.hidden_field :bid_status, value: 1 %>
							<% if @winner == true %>
							<% else %>
								<%= f.submit "Accept bid" %>
							<% end %>
						<% end %>
					<% end %>
<!-- The top part let's us accept the bid if we're the job owner -->

				

				</div>
			<% end %>			
		<% else %>
		 No Bids Yet
		<% end %>
	</div>
</div>

<!--
<script>
$.ajax({
	  method: "POST",
	  url: "some.php",
	  data: { name: "John", location: "Boston" }
	})
	  .done(function( msg ) {
	    alert( "Data Saved: " + msg );
	  });
</script>
-->