<li id="id-skills">
	<div class="timeline-badge default"><i class="fa fa-comments"></i></div>
	<h1 class="timeline-head">Skills</h1>
</li>

<li>
 	<div class="timeline-badge warning"></div>
	<div class="timeline-panel">
	    	<h1>Skills</h1>
	    	<div class="hr-left"></div>

	    	<% unless @user.skills.first == nil %>
				<% a = @user.skills.first.votes.count %>
				<% a10 = @user.skills.first.votes.count*10 %>
				<% aname = @user.skills.first.skill %>
				<div class="skillbar clearfix " data-percent=<%="#{a10}%"%>>
					<div class="skillbar-title" style="background: #d35400;"><span><%="#{aname}"%></span></div>
					<div class="skillbar-bar" style="background: #e67e22;"></div>
					<div class="skill-bar-percent"><%="#{a} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>


			<% unless @user.skills.second == nil %>			
				<% b = @user.skills.second.votes.count %>
				<% b10 = @user.skills.second.votes.count*10 %>
				<% bname = @user.skills.second.skill %>
				<div class="skillbar clearfix " data-percent=<%="#{b10}%"%>>
					<div class="skillbar-title" style="background: #2980b9;"><span><%="#{bname}"%></span></div>
					<div class="skillbar-bar" style="background: #3498db;"></div>
					<div class="skill-bar-percent"><%="#{b} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>


			<% unless @user.skills.third == nil %>
				<% c = @user.skills.third.votes.count %>
				<% c10 = @user.skills.third.votes.count*10 %>
				<% cname = @user.skills.third.skill %>
				<div class="skillbar clearfix " data-percent=<%="#{c10}%"%>>
					<div class="skillbar-title" style="background: #2c3e50;"><span><%="#{cname}"%></span></div>
					<div class="skillbar-bar" style="background: #2c3e50;"></div>
					<div class="skill-bar-percent"><%="#{c} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>

			
			<% unless @user.skills.fourth == nil %>
				<% d = @user.skills.fourth.votes.count %>
				<% d10 = @user.skills.fourth.votes.count*10 %>
				<% dname = @user.skills.fourth.skill %>
				<div class="skillbar clearfix " data-percent=<%="#{d10}%"%>>
					<div class="skillbar-title" style="background: #46465e;"><span><%="#{dname}"%></span></div>
					<div class="skillbar-bar" style="background: #5a68a5;"></div>
					<div class="skill-bar-percent"><%="#{d} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>

			
			<% unless @user.skills.fifth == nil %>
				<% e = @user.skills.fifth.votes.count %>
				<% e10 = @user.skills.fifth.votes.count*10 %>
				<% ename = @user.skills.fifth.skill %>
				<div class="skillbar clearfix " data-percent=<%="#{e10}%"%>>
					<div class="skillbar-title" style="background: #333333;"><span><%="#{ename}"%></span></div>
					<div class="skillbar-bar" style="background: #525252;"></div>
					<div class="skill-bar-percent"><%="#{e} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>

			
			<% unless @user.skills[5] == nil %>
				<% f = @user.skills[5].votes.count %>
				<% f10 = @user.skills[5].votes.count*10 %>
				<% fname = @user.skills[5].skill %>
				<div class="skillbar clearfix " data-percent=<%="#{f10}%"%>>
					<div class="skillbar-title" style="background: #27ae60;"><span><%="#{fname}"%></span></div>
					<div class="skillbar-bar" style="background: #2ecc71;"></div>
					<div class="skill-bar-percent"><%="#{f} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>

			
			<% unless @user.skills[6] == nil %>
				<% g = @user.skills[6].votes.count %>
				<% g10 = @user.skills[6].votes.count*10 %>
				<% gname = @user.skills[6].skill %>
				<div class="skillbar clearfix " data-percent=<%="#{g}%"%>>
					<div class="skillbar-title" style="background: #124e8c;"><span><%="#{gname}"%></span></div>
					<div class="skillbar-bar" style="background: #4288d0;"></div>
					<div class="skill-bar-percent"><%="#{g} votes"%></div>
				</div> <!-- End Skill Bar -->
			<% end %>

		

			<div class="work-experience">
				<h3>Votes</h3>
		    	<% @user.skills.each do |skill| %>
					<%= skill.skill %> 
						<% unless skill.user_id == current_user.id %>
							<% unless current_user.votes.exists?(skill.votes) %>
								<%= link_to("Like", user_skill_votes_path(current_user, skill, :up_vote => 1.to_i), :method => :post) %>
							<% end %>
							<% skill.votes.each do |vote|%>
								<% if vote.user_id == current_user.id %>
									<%= link_to("Unlike", user_skill_vote_path(current_user, skill, vote), :method => :delete) %>
							<% end %>	
						<% end %>
					<% end %>
					 <%= link_to Vote.where("skill_id = #{skill.id}", "up_vote = 1").count, user_skill_path(@user, skill) %><br>
				<% end %>
			</div>
 	</div>
</li>