<div class="jumbotron" >
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<%= image_tag avatar_url(@user), class: "avatar" %>
			</div>

			<div>
				<h3><%= @user.fullname %></h3>
					<p>Member Since: <%= @user.created_at.strftime("%b %d, %Y") %> </p>
					<p>Email: <%= @user.email %> </p>
					<p>Phone: <%= @user.phone_number %> </p>
					<p>Twitter: <%= @user.twitter %> </p>
					<p>Facebook: <%= @user.facebook %> </p>
					<p>USD/hour: <%= @user.rate %> </p>
					<p>Languages: <%= @user.languages %> </p>
			</div>

			<div>
				<h3>Who am I</h3>
				<p><%= @user.description %></p>
			</div>
		</div>
	</div>
</div>



