<div class="row">
	<div class="col-md-3">
		<div class="center">
			<%= image_tag avatar_url(@user), class: "avatar-full" %>

			<% if current_user != @user %>
				<div class="row-space-2">
				<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-primary wide" %>
				</div>
			<% end %>
			
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Verification</div>
			<div class="panel-body">
				Email Address<br>
				Phone Number
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h2><%= @user.fullname %></h2>

		<div class="description row-space-3">
			<%= @user.description %>
		</div>
	</div>
</div>
<strong>Jobs :</strong><br>
	<% @user.jobs.each do |job| %>
		<%= link_to job.name, job_path(job) %><br> 
	<%end%><br><br>

<strong>Skills :</strong><br> 
	<% @user.skills.each do |skill| %>
		<% if skill.user.user_skills.include?(skill.skill) %>
			<%= skill.skill %>
		<% else %>
			<% skill.destroy %>
		<% end %>
		<% unless skill.user_id == current_user.id %>
			<% unless current_user.votes.exists?(skill.votes) %>
				<%= link_to("Like", user_skill_votes_path(current_user, skill, :up_vote => 1.to_i), :method=>:post, class: "vote-button"
				)%>
			<% end %>
			<% skill.votes.each do |vote|%>
				<% if vote.user_id == current_user.id %>
					<%= link_to("Unlike", user_skill_vote_path(current_user, skill, vote), :method => :delete, class: "vote-button") %>
				<% end %>	
			<% end %>
		<% end %>
		| <%= link_to Vote.where("skill_id = ? AND up_vote = ?", "#{skill.id}", 1).count, user_skill_path(@user, skill), id:"vote" %><br>
	<% end %>