<div class="row">
	<div class="col-md-3">
		<div class="center">
		<%= image_tag avatar_url(@user), class: "avatar-full" %>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Verification</div>
		<div class="panel-body">
			Email Address<br>
			Phone Number
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h2><%= @user.fullname %></h2>

		<div class="description row-space-3">
			<%= @user.description %>
		</div>
	</div>
</div>

Jobs: <% @user.jobs.each do |job| %>
	<%= job.name %>, 
	<%end%><br>
Skills:	<br><% @user.skills.each do |skill| %>
	<%= Vote.where("skill_id = #{skill.id}", "up_vote = 1").count %>
	<%= skill.skill %> 
	 by 
	 <%= link_to("Like", user_skill_votes_path(current_user, skill, :up_vote => 1.to_i), :method => :post)%>
	<%skill.votes.each do |vote|%>
<% if vote.up_vote == 1 %>
<%= link_to("Unlike", user_skill_vote_path(current_user, skill, vote), :method => :delete)%>
<%end%>
	<%= vote.user.fullname%>, 
	<% end %><br>
		<% end %>