<h3><u>Skill: <%= @skill.skill %></u></h3>
	<% if @skill.votes.empty? %>
		<p>
			No Votes yet on <%= @skill.skill %>
		</p>
	<% else %>
		<% @skill.votes.each do |vote| %>
			<p>
				<% if vote.user.image %>
					<%= image_tag vote.user.image + "?type=large", size: "60x71" %>
				<% else %>
					<%= image_tag "https://www.gravatar.com/avatar.jpg?d=identical&s=150", size: "60x60" %>
				<% end %>
				<%= vote.user.fullname %>
			</p>
		<% end %>
	<% end %>
<%= link_to "Back", user_path(@skill.user) %>