<!DOCTYPE html>
<html>
<head>
  <title>Contractr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :cocoon%>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<<<<<<< HEAD
  <%= render "shared/navbar" %>
  <%= render "shared/message" %>
    <div class="container">
=======
   <%= render "shared/navbar" %>
   <%= render "shared/message" %>
    <div class="container-fluid">
>>>>>>> cc22f4d8021006001d06b92f081062ae9e43609d
    	<%= yield %>
    </div> <!-- /container -->
	
	<%= render "shared/footer" %>

</body>
</html>
